.Projects .portfolio-item {
  margin-bottom: 30px;
}

.Projects #portfolio-flters {
  padding: 0;
  margin: 0 auto 35px auto;
  list-style: none;
  text-align: center;
  background: #fff;
  border-radius: 50px;
  padding: 2px 15px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.08);
}

.Projects #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #5a656e;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.Projects #portfolio-flters li:hover,
.Projects #portfolio-flters li.filter-active {
  color: #d43076;
}

.Projects #portfolio-flters li:last-child {
  margin-right: 0;
}

.Projects .portfolio-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.Projects .portfolio-wrap::before {
  content: "";
  background: rgba(44, 73, 100, 0.6);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}

.Projects .portfolio-wrap .portfolio-info {
  opacity: 0;
  position: absolute;
  top: 10%;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
}

.Projects .portfolio-wrap .portfolio-info h4 {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
}

.Projects .portfolio-wrap .portfolio-info p {
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.Projects .portfolio-wrap .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  bottom: 10%;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.Projects .portfolio-wrap .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.Projects .portfolio-wrap .portfolio-links a:hover {
  color: #e684ae;
}

.Projects .portfolio-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}

.Projects .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
  top: calc(50% - 48px);
}

.Projects .portfolio-wrap:hover .portfolio-links {
  opacity: 1;
  bottom: calc(50% - 50px);
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.projects-details {
  padding-top: 40px;
}

.projects-details .portfolio-details-slider img {
  width: 10px;
}

.projects-details .portfolio-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}

.projects-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid #d43076;
}

.projects-details .portfolio-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #d43076;
}

.projects-details .portfolio-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(44, 73, 100, 0.08);
}

.projects-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.projects-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.projects-details .portfolio-info ul li+li {
  margin-top: 10px;
}

.projects-details .portfolio-description {
  padding-top: 30px;
}

.projects-details .portfolio-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.projects-details .portfolio-description p {
  padding: 0;
}